
.footer {
    background-color: gray;
    &__container {
        display: grid;
        grid-template-columns: 1fr;
    }
    &__logo {
        justify-self: center;
        align-self: center;
        width: 100px;
        margin: 20px auto;
    }
    iframe {
        margin: 0px auto;
        width: 100%;
    }
    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        color: #fff;
        line-height: 30px;
        .footer__social {
            display: flex;
            li {
                display: flex;
                margin-top: 20px;
                padding: 0 20px;
            }
        }
    }
}

@media (min-width: 768px) {
    
    .footer__container {
        grid-template-columns: 1fr 1fr 1fr;
        }

}